
.login-container{
  width: 100%;
  height: 100vh;
  background-color: #eee;
  box-sizing:border-box;
}

.login-container h2{
  text-align: center;
  margin-top: 0px;
}

.input-area{
  width: 60%;
  max-width: 300px;
  margin: auto;
  padding: 40px;
}

.button-area{
  margin-top: 30px;
  text-align: center;
}
