
.login-container{
  box-sizing:border-box;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 300px;
}

.login-container h2{
  text-align: center;
  margin-top: 0px;
}

.input-area{
  margin: auto;
  padding: 40px;
}

.button-area{
  margin-top: 30px;
  text-align: center;
}
