
.login-container{
  box-sizing:border-box;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -75%);
  min-width: 400px;
  width: 100%;
  text-align: center;
}

.login-container h2{
  margin-top: 0px;
}

.input-area{
  padding: 40px;
}

.login-button button{
  width: 200px;
}

