div.product{
    padding:20px;
}

div.criteria-small{
    width: 90px;
    margin-right: 5px;
}

div.criteria-medium{
    width: 140px;
    margin-right: 5px;
}

div.criteria-large{
    width: 200px;
    margin-right: 5px;
}


label.horizontal{
    margin: 5px;
    min-width: 200px;
    min-height: 150px;
    max-width: 350px;
    max-height: 200px;
    width: 100%;
    height: 10rem;
}

label.vertical{
    margin: 5px;
    min-width: 50px;
    min-height: 100px;
    width: 10.4rem;
    height: 15rem;
    max-width: 250px;
    max-height: 350px;
}
